/* Loading.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.loader {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
}

.loader div {
    width: 45px;
    height: 45px;
    margin: 2.5px;
    border-radius: 5px;
    animation: pulse 1.2s infinite ease-in-out;
}

.loader div:nth-child(1) {
    background-color: #F35325;
    animation-delay: 0s;
}

.loader div:nth-child(2) {
    background-color: #81BC06;
    animation-delay: 0.3s;
}

.loader div:nth-child(3) {
    background-color: #05A6F0;
    animation-delay: 0.6s;
}

.loader div:nth-child(4) {
    background-color: #FFBA08;
    animation-delay: 0.9s;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.2;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
}

/* Media Queries for Mobile View */
@media screen and (max-width: 600px) {
    .loader {
        width: 70px;
        height: 70px;
    }

    .loader div {
        width: 30px;
        height: 30px;
    }
}